.aboutHeading{
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.aboutHeading{
    margin-top: 2rem;
}

.aboutmeContent:hover{
    /* background: rgb(41, 41, 41); */
    cursor: pointer;

}

.aboutmeContent{
    width: 100vw;
    max-width: 60rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    background: rgb(20, 20, 20);
    /* background: rgb(70, 70, 70); */
    color: white;
    margin-top: 2rem;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    border-radius: 1rem;

}
.aboutTitle{
    margin-bottom: 1rem;
    color: yellow;
    
}
.aboutText{
    padding: 3rem 2rem;
}
.aboutName{
    color: yellow;
    font-weight: 400;
}
.aboutHighlight{
    color: yellow;
}
.aboutTextPara{
    font-size: 1rem;
    font-weight: 200;
    margin-top: 1rem;
}


.aboutImg{
    height: 20rem;
    padding: 2rem 0;
    /* filter: drop-shadow(0 0 0.75rem rgb(242, 255, 0)); */
    filter: drop-shadow(0px 0px 4px rgb(242, 255, 0));
}

.aboutBtn{
    background: white;
    border: none;
    font-size: small;
    font-weight: 400;
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.aboutBtn:hover{
    filter: drop-shadow(3px 2px 5px rgb(242, 255, 0));
}
.aboutBtnIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutHeading{
    margin-top: 2rem;
}
.aboutHeading{
    color: yellow;
}




/* 
@media screen and (min-width: 600px){
    .aboutText{
        margin-top: 20px;
    }
} */

/* 
@media screen and (max-width: 560px){
    .aboutmeContent{
        display: flex;
        flex-direction: column-reverse;
    }
    .aboutImg{
        height: 15rem;
        width: 15rem;
        margin: 0;
        padding: 0;
        margin: 0 6rem;
    }
    .aboutText{
        font-size: 1rem;
        text-align: center;
    }
    .aboutTextPara{
        font-size: .7rem;
    }

} */
/* @media screen and (max-width: 506px){
    .aboutmeContent{
        display: flex;
        flex-direction: column-reverse;
    }
    .aboutImg{
        height: 15rem;
        width: 15rem;
        margin: 0;
        padding: 0;
        margin: 0 6rem;
    }
    .aboutText{
        font-size: 1rem;
        text-align: center;
    }
    .aboutTextPara{
        font-size: .7rem;
    }

} */



/* @media screen and (min-width: 500px){
    .aboutText{
        font-size: 1rem;
        text-align: center;
    }
    .aboutTextPara{
        font-size: 0.7rem;

    }

}


@media screen and (max-width: 400px){
    
    .aboutImg{
        width: 15rem;
        margin: 0 3rem;
    }
    .aboutText{
        font-size: 1rem;
        text-align: center;
    }
    .aboutTextPara{
        font-size: .7rem;
    }

}
@media screen and (max-width: 350px){
    
    .aboutImg{
        width: 15rem;
        margin: 0 2rem;
    }
    .aboutText{
        font-size: 1rem;
        text-align: center;
    }
    .aboutTextPara{
        font-size: .7rem;
    }

}


@media screen and (max-width:450px){
    #aboutMe{
      margin: 0 1rem;
  
    }
  }
@media screen and (max-width:120px){
    #aboutMe{
      margin: 0 1rem;
  
    }
  } */


  @media screen and (max-width:400px){
    .aboutmeContent{
        display: flex;
        flex-direction: column-reverse;
    }
    .aboutTitle{
        font-size: 0.7rem;
        font-weight: 200;
        
    }
    .aboutTextPara{
        font-size: 0.5rem;
        font-weight: 100;
    }
    .aboutText{
        padding: 1rem 1rem;
    }
  }