#intro{
    display: flex;
}
.socialMediaIcons{
    font-size: 2rem;
}


.mediaIcons{
    margin-right: 2rem;
    cursor: pointer;
}
.socialMediaIcons a{
    color: white;
}
.mediaIcons:hover{

    color: black;
    background-color: white;
    border-radius: 50rem;
    padding: 0px 5px;
    cursor: pointer;
    filter: drop-shadow(3px 2px 5px rgb(242, 255, 0));
}

.bg{
    height: 83vh;
    /* max-height: 87vh;  */
    position: absolute;
    top: -4;
    left: 60%;
    bottom: 2.6rem;
    z-index: -1;
}



.introContent{
    /* height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-weight: 700;
    margin-top: 10rem;
    margin-left: 8rem; */
    height: 81vh;
    width: 100vw;
    padding: 2rem;
    font-weight: 700;
    margin-top: 0rem;
    margin-left: 8rem;
}
.hi{
    font-size: 1.5rem;
    font-weight: 100;

}
.introText{
    font-size: 3rem;
}
.introPara{
    font-size: large;
    font-weight: 100;
    max-width: 26rem;
}
.name{
    color: yellow;
}

.introBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem 1rem;
    border-radius: 2rem;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.introBtn:hover{
    filter: drop-shadow(3px 2px 5px rgb(242, 255, 0));
}
/* .introContent{
    padding: 8rem 0rem 0rem 7rem;
} */
/* 
@media screen and (max-width:500px){
    .bg{
        left: 17%;
        opacity: 0.3;
        max-height: 100vh;
    }
    .introText{
        font-size: 1rem;
    }
    .introPara{
        font-size: 1rem;
    }
    
}

@media screen and (max-width:900px){
    .bg{
        left: 17%;
        opacity: 0.3;
        max-height: 100vh;
    }
    .introContent{
        margin-top: 106px;
    font-size: 2rem;
    margin-left: 20px;
}

}

@media screen and (min-width:400px){
    .introContent{
    font-size: 2rem;
    margin-left: 20px;
    }
}




@media (min-width:500px) and (max-width:900px){
    #intro{
        margin: 0 3rem;
    }

    .bg{
        left: 25%;
        left: 1%;

    }
    .introPara{
        font-size: 0.9rem;
        flex-wrap: wrap;
    }
    .introText{
        font-size: 2rem;
    }
    .introContent{
        margin-top: 3rem;
    }

}

/* @media screen and (max-width:500px){
    .bg{
        left:1%;
        max-width: 32rem;
        padding: 0;
    }
    .introContent{
        padding: 10rem 2rem;
    }
}
@media screen and (width:768px){
    .bg{
        left:25%;
    }
} */


@media screen and (max-width: 600px){
    #intro{
        width: 20rem;
        display: flex;
        margin-top: 0px;
        background:url('../../Images/profile.png');
        background-position: cover;
        background-repeat: no-repeat;
        background-position-x: -60px; 
    }
   

.introText{
    font-size: 2rem;
    font-weight: 200;
}
.introPara{
    font-size: 0.8rem;
    font-weight: 600;
    color: yellow;
}
.introContent{
    margin-left: 3px;
    margin-top: 5rem;
    height: 90vh;
}
.bg{
    width: 300px;
    height: 33rem;
    left: 6%;
    opacity: 0.3;
    bottom: 0.5rem;
    display: none;
}

} 
