.deskTopMenuBtn img{
    width: 20px ;
    height: 20px;
}

.navbar{
    background-color: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    /* object-fit: cover; */
    font-size: 2rem;
}


.desktopMenuItem{
    margin: 2rem;
    cursor: pointer;
}
Link:visited{
    color: red;
}
.desktopMenuItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow ;
}

.deskTopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

.deskTopMenuBtn:hover{
    filter: drop-shadow(3px 2px 5px rgb(242, 255, 0));
}
.logo{
    color: yellow;
    /* padding-bottom: 3rem; */
    font-style: italic;
}
.active{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}



/* ```````````````````````````````````````````````````````````````` */
.navBtn{
    display: none;
    background-color: white;
    color: black;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 0.5rem;
    cursor: pointer;
}

.NavMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 50vh;
    width: 83vw;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.listItem{
    /* margin: 1rem 0.3rem; */
    cursor: pointer;
    padding: 10px;
    
}
/* ```````````````````````````````````````````````````````````````` */




@media screen and (max-width:840px){
    .desktopMenu,.deskTopMenuBtn{
        display: none;
    }
    .deskTopMenuBtn > .navBtn{
        background-color: white;
        color: black;
    }
    .navBtn{
        display: block;
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 500;
    }
    
}