#footer{
    display: flex;
    width: 100vw;
    background:rgb(40, 40, 40);
    height: 12rem;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    padding: 0 3rem;
}
.footerIons a{
    color: white;
}
.footerTitle{
    font-size: 2rem;
    padding-top: 1rem;
    font-weight: 400;
}

.footerText{
    font-size: 1rem;
    font-weight: 200;
}

.footerIons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footerIons:nth-child(n){
    margin: 0 1rem;
}



.fIcons{
    margin: 1rem 1.5rem;
    background-color: rgb(40, 40, 40);
    color: white;
    border-radius: 3rem;
    padding: 9px 8px 0px 8px;
    border: 1px solid black;
}

.footerBottom{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.footerBottom ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    cursor: pointer;

}
.footerBottom ul li{
    margin: 0 0.5rem;
}

@media screen and (max-width:400px){
    #footer{
        height: 100%;
    }
    .footerTitle{
        font-size: 1rem;
    }
    .footerText{
        font-size: 0.5rem;
    }
    .fIcons{
        margin-right: 0.5rem;
    }
    .footerBottom>h3{
        display: none;
    }
    .footerBottom ul li{
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width:600px){
    .footerTitle{
        font-size: 1.2rem;
    }
    .footerText{
        font-size: 0.7rem;
    }
    .footerBottom>h3,ul{
        font-size: 0.5rem;
    }
    .fIcons{
        margin: 0.8rem 0.7rem;
    }
    
}

